<form novalidate [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">

    <div fxFlex="100%" class="mat-field-center">
      <h2>Mật khẩu</h2>
    </div>


    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <mat-form-field floatLabel="always">
          <mat-label> Mật khẩu cũ</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
      </div>

    </div>

    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <mat-form-field floatLabel="always">
          <mat-label> Mật khẩu mới</mat-label>
          <input matInput formControlName="newPassword" type="password">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <mat-form-field floatLabel="always">
          <mat-label> Xác nhận mật khẩu mới</mat-label>
          <input matInput formControlName="confirmNewPassword" type="password">
        </mat-form-field>
      </div>
    </div>


    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <button style="width: 100%; background-color: #6C63FF; color: whitesmoke;" mat-flat-button type="submit">
          Xác nhận
        </button>
      </div>
    </div>

  </div>
</form>


<form novalidate [formGroup]="paymentPasswordForm" (ngSubmit)="updatePaymentPassword()">
  <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">

    <div fxFlex="100%" class="mat-field-center">
      <h2>Mật khẩu thanh toán</h2>
    </div>

    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <mat-form-field floatLabel="always">
          <mat-label> Mật khẩu thanh toán cũ</mat-label>
          <input matInput formControlName="paymentPassword" type="password">
        </mat-form-field>
      </div>

    </div>

    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <mat-form-field floatLabel="always">
          <mat-label> Mật khẩu thanh toán mới</mat-label>
          <input matInput formControlName="newPaymentPassword" type="password">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <mat-form-field floatLabel="always">
          <mat-label> Xác nhận mật khẩu thanh toán mới</mat-label>
          <input matInput formControlName="confirmNewPaymentPassword" type="password">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" class="mat-field-center">
      <div style="width: 95%;">
        <button style="width: 100%; background-color: #6C63FF; color: whitesmoke;" mat-flat-button type="submit">
          Xác nhận
        </button>
      </div>
    </div>

  </div>
</form>