<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
    style="background-color: #6c63ff ;">
    <div fxFlex="100%" class="image-top-avatar">
        <img [src]="avatar" class="img-account-panel">
    </div>

    <div fxFlex="100%" class="image-top-avatar" style="margin-top: 10px;">
        <b style="color: whitesmoke;">{{ user?.UserName }}</b>
    </div>

    <div fxFlex="100%" class="image-top-avatar" style="margin-top: 10px;">
        <span style="color: whitesmoke;">{{ wallet?.coin | number }} Xu</span>
    </div>

    <div fxFlex="100%" class="image-top-avatar">
        <div style="width: 33.33%;">
            <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke"
                [routerLink]="['../pay-in-wallet']" routerLinkActive="
            active">
                <mat-icon>account_balance_wallet</mat-icon>
                Nạp tiền
            </button>
        </div>
        <div style="width: 33.33%;">
            <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke"
                [routerLink]="['../withdraw-wallet']" routerLinkActive="
            active">
                <mat-icon>touch_app</mat-icon>
                Rút tiền
            </button>
        </div>
        <div style="width: 33.33%;">
            <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke"
                [routerLink]="['../banks']" routerLinkActive="
            active">
                <mat-icon>account_balance</mat-icon>
                Ngân hàng
            </button>
        </div>
    </div>

</div>

<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
    <div fxFlex="100%">
        <button mat-flat-button class="button-function" [routerLink]="['../personal-information']" routerLinkActive="
            active">
            <mat-icon>person</mat-icon>
            Thông tin cá nhân
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function" [routerLink]="['../message-chat']" routerLinkActive="
        active">
            <mat-icon>chat</mat-icon>
            Tin nhắn
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>hourglass_top</mat-icon>
            Lịch sử
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>trending_up</mat-icon>
            Biến động số dư
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>notifications</mat-icon>
            Thông báo
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>support_agent</mat-icon>
            Hỗ trợ
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>help</mat-icon>
            Câu hỏi thường gặp
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>rate_review</mat-icon>
            Góp ý
        </button>
    </div>
    <div fxFlex="100%">
        <button mat-flat-button class="button-function">
            <mat-icon>emoji_food_beverage</mat-icon>
            Phiên bản
        </button>
    </div>

    <div fxFlex="100%">
        <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke;" (click)="logout()">
            Thoát tài khoản
        </button>
    </div>
</div>