<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center"
  style="margin-top: 10px;">
  <div fxFlex="20%">
    <button mat-button style="color: gray;">
      <mat-icon>star</mat-icon>
      Nghìn
    </button>
  </div>
  <div fxFlex="80%" align="start">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="selectNumber(0,0)" style="color: grey;">Tất cả</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(0,1)" style="color: grey;">Tài</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(0,2)" style="color: grey;">Xỉu</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(0,3)" style="color: grey;">Chẵn</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(0,4)" style="color: grey;">Lẻ</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(0,5)" style="color: grey;">Xóa</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxFlex="80%" align="end">
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile *ngFor="let thousandsNumber of thousandsNumbers">
        <button mat-icon-button [style]="thousandsNumber.style" (click)="chooseNumber(0 ,thousandsNumber.value)">
          {{ thousandsNumber?.value }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center"
  style="margin-top: 10px;">
  <div fxFlex="20%">
    <button mat-button style="color: grey;">
      <mat-icon>star</mat-icon>
      Trăm
    </button>
  </div>
  <div fxFlex="80%" align="start">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="selectNumber(1,0)" style="color: grey;">Tất cả</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(1,1)" style="color: grey;">Tài</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(1,2)" style="color: grey;">Xỉu</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(1,3)" style="color: grey;">Chẵn</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(1,4)" style="color: grey;">Lẻ</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(1,5)" style="color: grey;">Xóa</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxFlex="80%" align="end">
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile *ngFor="let hundredsNumber of hundredsNumbers">
        <button mat-icon-button [style]="hundredsNumber.style" (click)="chooseNumber(1 ,hundredsNumber.value)">
          {{ hundredsNumber?.value }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center"
  style="margin-top: 10px;">
  <div fxFlex="20%">
    <button mat-button style="color: grey;">
      <mat-icon>star</mat-icon>
      Chục
    </button>
  </div>
  <div fxFlex="80%" align="start">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="selectNumber(2,0)" style="color: grey;">Tất cả</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(2,1)" style="color: grey;">Tài</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(2,2)" style="color: grey;">Xỉu</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(2,3)" style="color: grey;">Chẵn</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(2,4)" style="color: grey;">Lẻ</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(2,5)" style="color: grey;">Xóa</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxFlex="80%" align="end">
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile *ngFor="let tensNumber of tensNumbers">
        <button mat-icon-button [style]="tensNumber.style" (click)="chooseNumber(2 ,tensNumber.value)">
          {{ tensNumber?.value }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>


<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="center"
  style="margin-top: 10px;">
  <div fxFlex="20%">
    <button mat-button style="color: grey;">
      <mat-icon>star</mat-icon>
      Đơn vị
    </button>
  </div>
  <div fxFlex="80%" align="start">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="selectNumber(3,0)" style="color: grey;">Tất cả</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(3,1)" style="color: grey;">Tài</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(3,2)" style="color: grey;">Xỉu</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(3,3)" style="color: grey;">Chẵn</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(3,4)" style="color: grey;">Lẻ</mat-button-toggle>
      <mat-button-toggle (click)="selectNumber(3,5)" style="color: grey;">Xóa</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxFlex="80%" align="end">
    <mat-grid-list cols="5" rowHeight="1:1">
      <mat-grid-tile *ngFor="let onesNumber of onesNumbers">
        <button mat-icon-button [style]="onesNumber.style" (click)="chooseNumber(3 ,onesNumber.value)">
          {{ onesNumber?.value }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>