/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Đổi màu các thanh underline 
.mat-form-field-underline {
  background-color: #6c63ff !important;
}

.mat-form-field-label {
  color: #6c63ff !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #6c63ff;
} 
