<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
  <div fxFlex="100%" fxFlex.xs="100%">

    <mat-carousel timings="1000ms ease-in" [autoplay]="true" interval="4000" color="white" maxWidth="auto"
      proportion="60" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true" [h]
      [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="true"></mat-carousel-slide>
    </mat-carousel>



  </div>


</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="margin-top: 15px;">
  <div fxFlex="30%">
    <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke"
      [routerLink]="['../pay-in-wallet']" routerLinkActive="
        active">
      <mat-icon>account_balance_wallet</mat-icon>
      Nạp tiền
    </button>
  </div>
  <div fxFlex="30%">
    <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke"
      [routerLink]="['../withdraw-wallet']" routerLinkActive="
    active">
      <mat-icon>touch_app</mat-icon>
      Rút tiền
    </button>
  </div>
  <div fxFlex="30%">
    <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke">
      <mat-icon>support_agent</mat-icon>
      Hỗ trợ
    </button>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="margin-top: 15px;">
  <div fxFlex="94%">
    <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke">
      Xổ số miền bắc
    </button>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%" [routerLink]="['../../bet']" routerLinkActive="
  active" (click)="tranferToBet('mien-bac')">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Miền bắc</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng hàng ngày</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đặc biệt 18h25</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng hàng ngày</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="margin-top: 15px;">
  <div fxFlex="94%">
    <mat-divider></mat-divider>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="margin-top: 15px;">
  <div fxFlex="94%">
    <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke">
      Xổ số miền trung
    </button>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Thừa Thiên Huế</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 2</mat-list-item>
      </mat-list>
    </div>
  </div>

  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Phú Yên</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 2</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đắc lắc</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 3</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Quảng Nam</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 3</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đà nẵng</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 4, 7</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Khánh Hòa</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 4, chủ nhật
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Bình Định</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 5</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Quảng Trị</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 5</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Quảng Bình</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 5</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Gia Lai</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 6</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>



<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đắc Nông</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 7</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Kon Tum</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng chủ nhật</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="margin-top: 15px;">
  <div fxFlex="94%">
    <mat-divider></mat-divider>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center" style="margin-top: 15px;">
  <div fxFlex="94%">
    <button mat-flat-button style="width: 100%; background-color: #6C63FF; color: whitesmoke">
      Xổ số miền nam
    </button>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Hồ Chí Minh</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 2, 7</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đồng Tháp</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 2</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Cà Mau</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 2</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Bến Tre</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 3</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Vũng Tàu</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 3</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Bạc Liêu</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 3</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đồng Nai</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 4</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Cần Thơ</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 4</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Sóc Trăng</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 4</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Tây Ninh</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 5</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">An Giang</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 5</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Bình Thuận</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 5</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Vĩnh Long</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 6</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Bình Dương</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 6</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Trà Vinh</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 6</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Long An</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 7</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>


<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Bình Phước</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 7</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Hâu Giang</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng thứ 7</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Tiền Giang</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng chủ nhật</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Kiên Giang</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng chủ nhật</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px; height: 10vh;">
  <div fxFlex="94%">
    <div style="width: 40%; height: 100%; float: left;">
      <img src="assets/svg/undraw_sync_files_xb3r.svg" style="width: 100%; height: 100%;">
    </div>

    <div style="width: 60%; height: 100%;" class="image-center">
      <mat-list>
        <mat-list-item style="font-size: small; color: grey; font-weight: 700;">Đà Lạt</mat-list-item>
        <mat-list-item style="font-size: x-small; font-style: italic; color: grey;">Mở thưởng chủ nhật</mat-list-item>
      </mat-list>
    </div>
  </div>
  <div fxFlex="94%">

  </div>
</div>