<div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
  style="margin-top: 15px;">

  <div fxFlex="100%" class="button-center">
    <button mat-flat-button class="button-size" [routerLink]="['../register-subordinate-member']" routerLinkActive="
    active">
      <mat-icon>person_add</mat-icon>
      Mở tải khoản cấp dưới
    </button>
  </div>

  <div fxFlex="100%" class="button-center">
    <button mat-flat-button class="button-size">
      <mat-icon>group</mat-icon>
      Thành viên
    </button>
  </div>

  <div fxFlex="100%" class="button-center">
    <button mat-flat-button class="button-size">
      <mat-icon>link</mat-icon>
      Liên kết đăng ký
    </button>
  </div>

  <div fxFlex="100%" class="button-center">
    <button mat-flat-button class="button-size">
      <mat-icon>euro</mat-icon>
      Số dư nhóm
    </button>
  </div>

  <div fxFlex="100%" class="button-center">
    <button mat-flat-button class="button-size">
      <mat-icon>analytics</mat-icon>
      Báo cáo đại lý
    </button>
  </div>

  <div fxFlex="100%" class="button-center">
    <button mat-flat-button class="button-size">
      <mat-icon>assignment</mat-icon>
      Báo cáo nhóm
    </button>
  </div>

</div>