<ng-container>
  <mat-toolbar style="background-color: #6C63FF;" class="layout-header">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="width: 100%;">
      <div fxFlex="33%" fxFlex.xs="33%">
        <button class="font-layout" mat-flat-button style="background-color: #6C63FF; color: white;"
          [routerLink]="['../lottery/lottery-main']" routerLinkActive="
        active">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div fxFlex="33%" fxFlex.xs="33%">
        <span style="color: whitesmoke;"></span>
      </div>
      <div fxFlex="33%" fxFlex.xs="33%" align="end">
        <button mat-button style="color: whitesmoke;" [matMenuTriggerFor]="afterMenu">
          <mat-icon>transform</mat-icon>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item *ngFor="let l of lottos" (click)="ChooseFatherType(l.code)"> {{ l.name }}</button>
        </mat-menu>
      </div>
    </div>

  </mat-toolbar>

  <mat-sidenav-container class="layout-container" autosize>
    <mat-sidenav-content>

      <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutAlign="center"
        style="width: 100%;">
        <div fxFlex="100%" fxFlex.xs="100%" class="image-center">
          <div style="width: 90%;">
            <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"
              style="margin-top: 10px;">
              <div fxFlex="50%" fxFlex.xs="50%" style="text-align: left; font-size: 1.1rem; color: red;">
                <b>{{ lottoTypeSelected?.name }}</b>
              </div>
              <div fxFlex="50%" fxFlex.xs="50%"
                style="text-align: left; font-size: 1.1rem; color: red; font-style: italic; text-align: right;">
                đang sử dụng: {{ methodTypeNameSelected }}
              </div>
            </div>
          </div>

        </div>

        <div fxFlex="100%" fxFlex.xs="100%" class="button-center">
          <div style=" width: 90%;">
            <mat-form-field>
              <mat-label>Phương thức cược</mat-label>
              <mat-select [(ngModel)]="methodSelected">
                <mat-option *ngFor="let method of methodTypeList" [value]="method.code">
                  {{ method.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"
        style="width: 100%;">
        <div fxFlex="100%" fxFlex.xs="100%" class="button-center">
          <div style="width: 90%;">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="Chọn số">
                <app-choose-the-number [lottoRegion]="lottoTypeSelected?.code" [lottoType]="methodSelected">
                </app-choose-the-number>
              </mat-tab>
              <mat-tab label=" Nhập số">
                <app-enter-the-number></app-enter-the-number>
              </mat-tab>
              <mat-tab label="Chọn số nhanh">
                <app-choose-a-quick-number></app-choose-a-quick-number>
              </mat-tab>
            </mat-tab-group>
          </div>

        </div>
      </div>



    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="layout-footer" style="background-color: white;">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center" style="width: 100%;height: 90%;">
      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button style="color: rgb(100, 93, 93);">
          <mat-icon>history</mat-icon>
          Lịch sử
        </button>
      </div>

      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button style="color: rgb(100, 93, 93);">
          <mat-icon>android</mat-icon>
          Nuôi số
        </button>
      </div>

      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button style="color: rgb(100, 93, 93);">
          <mat-icon>eco</mat-icon>
          Chọn số
        </button>
      </div>

      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button color="warn" (click)="submitBet()">
          <mat-icon>send</mat-icon>
          Đặc cược
        </button>
      </div>
    </div>
  </mat-toolbar>
</ng-container>