<ng-container>
  <mat-toolbar style="background-color: #6C63FF;" class="layout-header">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="width: 100%;">
      <div fxFlex="33%" fxFlex.xs="33%">
        <button class="font-layout" mat-flat-button style="background-color: #6C63FF; color: white;"
          [routerLink]="['../lottery/lottery-main']" routerLinkActive="
        active">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div fxFlex="33%" fxFlex.xs="33%">
        <span style="color: whitesmoke;">Đặt cược</span>
      </div>
      <div fxFlex="33%" fxFlex.xs="33%"> </div>

    </div>

  </mat-toolbar>

  <mat-sidenav-container class="layout-container" autosize>
    <mat-sidenav-content>
      <div style="margin-top: 10px;" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
        fxLayoutAlign="right">
        <div fxFlex="30%">
          <button mat-button color="accent">Đổi kiểu cược</button>

        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="layout-footer" style="background-color: white;">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center" style="width: 100%;height: 90%;">
      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button style="color: rgb(100, 93, 93);">
          <mat-icon>history</mat-icon>
          Lịch sử
        </button>
      </div>

      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button style="color: rgb(100, 93, 93);">
          <mat-icon>android</mat-icon>
          Nuôi số
        </button>
      </div>

      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button style="color: rgb(100, 93, 93);">
          <mat-icon>eco</mat-icon>
          Chọn số
        </button>
      </div>

      <div fxFlex="25%" class="button-center">
        <button class="button-layout-size font-layout" mat-flat-button color="warn" (click)="submitBet()">
          <mat-icon>send</mat-icon>
          Đặc cược
        </button>
      </div>
    </div>
  </mat-toolbar>
</ng-container>