<div fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="width: 100%;"
  style="margin-top: 10px;">
  <div fxFlex="24px" style="color: #6C63FF; line-height: 24px;">
    <mat-icon>help</mat-icon>
  </div>

  <div fxFlex style="color: grey; line-height: 24px;">
    <i>{{ title }}</i>
  </div>
</div>

<mat-form-field style.fontSize=" 16px" floatLabel="always" style="margin-top: 10px;">
  <mat-label>{{ tutorialLabel }}</mat-label>
  <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
    [placeholder]="tutorialText" cdkAutosizeMaxRows="6"></textarea>
</mat-form-field>

